html{
    overflow: hidden;   
    }

body{
    background-image: radial-gradient(rgb(190, 212, 186), rgb(155, 210, 146), green);
    background-size: 200%;
    background-image: url(
        "https://pibig.info/uploads/posts/2022-07/thumbs/1657183051_46-pibig-info-p-zelenii-fon-odnotonnii-48.jpg");
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    }

.root{
    padding: 50px 0;
}
 .header{
    text-align: center;
    font-size: 25px;

}
.calculating__field{
    width: 100%;
    margin-top: 50px;
    padding: 30px 0 40px 0;
}
.calculating__subtitle{
    text-align: center;
    font-size: 20px;
    font-weight: 18px;
    margin-top: 30px;
}
.calculating__subtitle:first-child{
    margin-top: 0;
}
.calculating #gender:after{
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 16px;
        height: 16px;
        /* background: url(../icons/switch.svg) center center/cover no-repeat; */
}
.calculating__choose{
        position: relative;
        display: flex;
        margin-top: 30px;
        justify-content: center;
}
.calculating__choose-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 50px;
    padding: 0 10px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0,0,0,.2);
    border: none;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    outline: 0;
    transition: .3s all;
}
.calculating__choose-item_active{
    color: #cdcaca;
    background-color:#2f6027;
}
.calculating__choose_medium{
    width: 743px;
    justify-content: space-between;
    margin: 30px auto 0 auto;
}
.calculating__choose_big{
    width: 930px;
    justify-content: space-between;
    margin: 30px auto 0 auto;
}
.calculating__choose_big .calculating__choose-item{
    width: 200px;
}
.calculating__divider{
    width: 490px;
    height: 1px;
    margin: 40px auto;
    background-color: rgba(0,0,0,.2);
}
.calculating__total{
    width: 490px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calculating__result{
    font-size: 18px;
    font-weight: 700;
}
.calculating__result span{
    font-size: 38px;
}
.menu{
    padding: 40px 0 50px 0;
}
.menu .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.menu .title{
    text-align: center;
}
.menu__field{
    margin-top: 50px;
    padding: 50px 0;
    width: 100%;
    background: rgba(249,254,126,.25);
}
.menu__item{
    width: 320px;
    min-height: 450px;
    background: #fff;
    box-shadow: 0 4px 25px rgba(0,0,0,.25);
    font-size: 16px;
    font-weight: 300;
}
.menu__item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.menu__item-subtitle{
    font-weight: 700;
    font-size: 18px;
    padding: 0 20px;
    margin-top: 20px;
} 